* {
  box-sizing: border-box;
  overflow: auto;

}
.nav--bar {
  background-color: #12b5ab;
  margin-bottom: 25px;
}
.grid{
  color: white;
  margin: 0px 15px 0px;
  padding: 10px;
  float: left;
}
div {
  overflow: auto;
}

ul {
  float:right;
  margin: 0px 25px;
  padding: 10px 5px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  font-size-adjust: 10px;
  margin: 5px;
}
a:hover{
  color: #0dff00;
  font-size: 15px;
  font-family: monospace;
}
.image--01 {
  float:left;
  width: calc(100% / 3 - 20px);
  margin:10px;
  border: 1px solid gray;
  -webkit-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.37);
-moz-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.37);
box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.37);


}
.image--02 {
  float:left;
  width: calc(100% / 3 - 20px);
  margin:10px;
  border: 1px solid gray;
  -webkit-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.37);
-moz-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.37);
box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.37);
}
.image--03 {
  float:left;
  width: calc(100% / 3 - 20px);
  margin:10px;

  border: 1px solid gray;
  -webkit-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.37);
-moz-box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.37);
box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.37);

}
.tiles {
      margin: auto;
      width: 50%;
      padding: 1px;
}
h3 {
  text-align: center;
}
hr {
  color: white;

}
p {
  text-align: left;
  padding: .2rem;
  margin: .5rem;
}
.cancel--but {
  background-color: red;
  color: white;
  float:left;
  padding: 5px:;
  margin: 0px 0px 15px 20px;
}
.submit--but {
  background-color: blue;
  color: white;
  float: right;
  padding: 5px:;
  margin: 0px 20px 15px 0px;
}
